@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    background-color: #fff;
    overflow-x: hidden;
}


.container {
    max-width: 100%;
    padding: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding: 0;
}

.page-content {
    padding-top: 30px;
}

.page-content .container {
    padding: 0 75px;
}

@media (max-width: 900px) {

    .page-content .container {
        padding: 0 20px;
    }

}

.page-content h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
}

.page-content h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
}

.page-content p {
    margin-bottom: 25px;
    font-size: 17px;
}

.page-content ul {
    padding-left: 15px;
    margin-bottom: 30px;
}

.page-content ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.page-content ul li:last-child {
    margin-bottom: 0;
}

.page-content ul li strong {
    display: block;
}

.page-content a {
    display: block;
    margin-bottom: 30px;
    color: #333;
    text-decoration: underline;
}

.page-content a:hover,
.page-content a:focus {
    color: #255299;
}

.row {
    margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
}

/* HEADER */

header {
    height: 70px;
    padding: 0 25px;
    background-color: #fff;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.165) 0px 0px 6px 2px;
}

@media (max-width: 900px) {

    header {
        height: auto;
    }

}

header .container,
header .row {
    position: relative;
    height: 100%;
}

.header-logo a {
    font-weight: 700;
}

@media (max-width: 900px) {

    .header-logo a {
        padding: 18px 0;
        display: inline-block;
    }

}

.header-logo .city-ch {
    margin-left: 30px;
    display: inline-block;
}

.header-logo button {
    border: 0;
    box-shadow: none;
    background: none;
    color: #255299;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px dashed;
    padding: 0;
    position: relative;
}

@media (max-width: 900px) {

    .header-logo button {
        display: inline-block;
    }

}

.header-logo button:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    opacity: 0.6;
    right: -40px;
    background: url(../img/cursor.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-nav .navbar {
    padding: 0;
}

@media (max-width: 900px) {

    .navbar-toggler {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #255299;
        margin-top: -50px;
    }

}

.header-nav .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.header-nav .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px;
    color: #333;
    font-size: 15px;
    transition: 300ms;
    -webkit-transition: 300ms;
}

@media (max-width: 900px) {

    .header-nav .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }

}

.header-nav .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #255299;
}

.header-nav .navbar-expand-lg .navbar-nav .nav-link span {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.header-nav .navbar-expand-lg .navbar-nav .nav-link:hover span {
    border-color: #255299;
}

/* HEADER */

/* INDEX */

.left-panel {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    padding-top: 5px;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.1);
}

@media (max-width: 900px) {

    .left-panel {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

}

.right-panel {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

@media (max-width: 900px) {

    .right-panel {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

}

.search {
    margin: 20px;
    margin-bottom: 25px;
    padding: 0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    border-radius: 7px;
    position: relative;
}

.search .form-control {
    height: 45px;
    line-height: 45px;
    border: 0;
    padding: 0 20px;
    padding-left: 50px;
}

.search:before {
    content: '';
    background: url(/img/search.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
}

.main-techpoints-list {
    height: calc(100vh - 70px - 95px);
    overflow-y: scroll;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

@media (max-width: 900px) {

    .main-techpoints-list {
        height: auto;
        padding-bottom: 0;
    }

}

.main-techpoints-list-item {
    height: auto;
}

.main-techpoints-list-item a {
    display: block;
    background-color: #fff;
    color: #333;
    padding: 25px;
    padding-left: 13px;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 8px solid transparent;
}

.main-techpoints-list-item a:hover {
    text-decoration: none;
    border-left-color: #255299;
}

.main-techpoints-list-item .title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.main-techpoints-list-item a:hover .title {
    color: #255299;
}

.main-techpoints-list-item .address {
    position: relative;
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;
}

.main-techpoints-list-item .address:before {
    content: '';
    background: url(/img/location.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
}

.main-techpoints-list-item .tel {
    position: relative;
    padding-left: 30px;
    display: block;
}

.main-techpoints-list-item .tel:before {
    content: '';
    background: url(/img/phone.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
}

.main-map {
    height: calc(100vh - 70px);
    position: relative;
}

@media (max-width: 900px) {

    .main-map {
        height: 250px;
    }

}

.main-map #map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

/* INDEX */



/* CITIES MODAL */

.modal .modal-header {
    border: 0;
    padding: 0;
}

.modal .modal-header .close {
    position: absolute;
    right: -50px;
    top: -25px;
    text-shadow: none;
    color: #fff;
    opacity: 0.75;
    font-size: 80px;
    font-weight: 100;
}

@media (max-width: 900px) {

    .modal .modal-header .close {
        right: 25px;
        top: 25px;
        font-size: 50px;
        color: #333;
        z-index: 999;
    }

}

.modal ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    columns: 3;
    padding: 35px;
}

@media (max-width: 900px) {

    .modal ul {
        columns: auto;
    }

}

.modal ul li {
    margin-bottom: 14px;
}

.modal ul li a {
    font-size: 16px;
    display: block;
}

/* CITIES MODAL */



/* MAP */

.techpoint-detail {
    padding: 25px;
}

@media (max-width: 900px) {

    .techpoint-detail {
        padding-bottom: 60px;
    }

}

@media (max-width: 900px) {

    .techpoint-detail-left {
        order: 2;
    }

    .techpoint-detail-right {
        order: 1;
    }

}

.techpoint-detail h1 {
    margin-top: 0;
    margin-bottom: 25px;
}

.techpoint-detail p {
    margin-bottom: 25px;
}

.techpoint-detail-item {
    height: 100px;
}

.techpoint-detail-item-label {
    color: #838383;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.techpoint-detail-item ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.techpoint-detail-item ul li {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid #eee;
    padding: 5px 7px;
    color: #255299;
}

@media (max-width: 900px) {

    .techpoint-detail .btn-lead {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        padding: 15px;
        z-index: 89;
    }

}

#lead .modal-body {
    padding: 25px 50px;
}

#lead .col-md-4,
#lead .col-md-8,
#lead .col-md-12 {
    padding: 0 5px;
}

#lead .flickity-prev-next-button {
    width: 30px;
    height: 30px;
}

.date-pick-slider {
    padding-left: 5px;
}

#lead .flickity-prev-next-button.previous {
    left: -30px;
}

#lead .flickity-prev-next-button.next {
    right: -30px;
}

#lead .form-control {
    height: auto;
    padding: 10px;
}

.date-pick-item {
    width: calc(100% / 7 - 9px);
    margin: 0 5px;
    display: block;
    z-index: 10;
    font-size: 14px;
    text-align: center;
}

.date-pick-item input[type=radio] {
	display: none;
}

.date-pick-item label {
	display: inline-block;
	cursor: pointer;
	padding: 5px 15px;
	line-height: 1.6;
	border: 2px solid #ddd;
	border-radius: 6px;
    user-select: none;
    margin: 0;
}
 
.date-pick-item input[type=radio]:checked + label {
	border-color: #255299;
}
 
.date-pick-item label:hover {
	color: #255299;
}
 
.date-pick-item input[type=radio]:disabled + label {
	background: #efefef;
	color: #255299;
}

.page-map {
    height: calc(100vh - 70px);
    position: relative;
}

@media (max-width: 900px) {

    .page-map {
        height: 250px;
    }

}

.page-map #map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

/* MAP */